.about{
    height: 11vh;
    text-align: center;
}

.paragrafo1{
    color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
    font-size: larger;
    line-height:0,7;
    text-align: center;
}

.paragrafo2{
    color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
    font-size: larger;
    line-height: 1.2;
    height: 63vh;
    text-align: center;
}